<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kietnt.foodbuyer">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_leaf"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_market"
        android:supportsRtl="true"
        android:theme="@style/Theme.FOODBUYER"
        tools:replace="android:icon,android:theme">
        <activity android:name=".Onboardinig"></activity>
        <activity android:name=".LaunchScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FinishSignUp" />
        <activity android:name=".InformationBuyer" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LoginActivity">

        </activity>
        <activity android:name=".MainActivity" >

        </activity>
    </application>

</manifest>